.article-janelas_chat{
width: 100%;
}
.article-janelas_chat-profile{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.article-janelas_chat-profile p{
font-size: 12px;

}
.article-janelas_chat-profile span{
    font-weight: bold;
}

.article-div-janelas_chat{
    display: flex;  
    align-items: center;
    width: 100%;
    background-color: #ffffff ;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.article-div-janelas_chat:hover{
    background-color: rgb(228, 228, 228);
}
.article-janelas_chat-p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.article-div-janelas_chat-avatar{
    margin-left: 2%;
    margin-right: 5%;
    max-width: 19%;
    min-width: 19%;
}

.article-div-janelas_chat-nome{
    max-width: 60%;
    min-width: 60%;
    word-wrap: break-word;
}

/* a classe -remove configura o componente do nome desse css e img no  modal delete */
.article-div-janelas_chat-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 14%;
    max-width: 14%;
    margin:0;
    border-left: solid 1px rgb(206, 206, 206);
}
.article-div-janelas_chat-remove img{
    visibility: hidden;
    transition:ease all 0.2s
}
.article-div-janelas_chat-remove:hover img{
    visibility:visible;
}
.article-div-janelas_chat-remove img{
width: 100%;
max-height: 70%;
}
