.div-chat{
    display: flex;
    margin: 0;
    flex-direction: row;

}

.div-chat-menu_conversas{
    background-color: #FFFFFF ;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 30%;
    border-right: 2px solid rgb(138, 138, 138);;
}
.div-chat-menu-conteudo{
    background-color: #FFFFFF ;
    margin: 0;
    height: 100vh;
    width: 70%;
}