.article-janelas_chat{

}
.article-janelas_chat-profile{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.article-janelas_chat-profile p{
font-size: 12px;

}
.article-janelas_chat-profile span{
    font-weight: bold;
}
.article-janelas_chat-button{
  background-color: rgb(193, 254, 254);  
}
.article-div-janelas_chat{
    display: flex;  
    width: 100%;
    background-color: #FFFFFF ;
    padding-top: 3px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.article-div-janelas_chat:hover{
    background-color: rgb(218, 218, 218);
}
.article-janelas_chat-p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.article-div-janelas_chat-avatar{
    margin-left: 6%;
    width: 19%;
}

.article-div-janelas_chat-nome{
    margin-left: 10%;
}