.contentChat-article{

    height: 91.0vh;
    width: 99%;
    margin:0 auto;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: scroll;
    background-color: rgb(71, 69, 69);
    border-radius: 20px;

}

.contentChat-article-div_nomechat{
    background-color: rgb(87, 87, 87);
    display: flex;
    flex-direction: column;
    justify-content: center  ;
    align-items: center;
    border-radius: 10px;
    border: 2px rgb(255, 255, 255) solid;
    position: fixed;
    min-height: 60px;
    width: 69.0%;
    z-index: 10;  
    opacity: 0.7;
    transition: all 0.5s;
}
.contentChat-article-div_nomechat:hover{
    opacity: 1;
}
.contentChat-article-div-div_nomechat{

}
.contentChat-article-div-div_nomechat h1{
    margin: 0;
    color: rgb(225, 225, 225);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.contentChat-article-div-div_idChatRom{
    font-size: 12px;
    color: rgb(132, 132, 132);
}

.contentChat-article-div-h1_nomechat{
font-size: 25px;
line-height: 29px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contentChat-article-div-div_modaladd{
    margin-left: 5%;

}

.contentChat-article-div_content{
    margin-top: 70px;
   width: 98%;
}
.contentChat-article-div-div_content{
display: flex;


}
.contentChat-article-div-div-div_content{
background-color: rgb(147, 235, 229);
border-radius: 15px;
margin-bottom: 15px;
padding: 8px;
min-width: 2%;
max-width: 60%;
word-wrap: break-word;
/* quebra a linha ao chegar no final da div */
}

/* se mensagem vier de fora */
.author_others{
    justify-content: flex-end;
    
}

/* se mensagem vier da origem */
.author_myself{
    justify-content: flex-start;
}
.contentChat-article-div-p_content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14.2px;
    margin: 0;
    
}
.contentChat-article-div-p_author{
    font-size: 12px;
    margin: 0;
    color:rgb(74, 74, 74)
}
.contentChat-article-div-p_time{
    font-size: 12px;
    margin: 0;
    color:rgb(74, 74, 74)
}
.contentChat-article-div-img_content{
    width: 100%;
}
.contentChat-article-div-chart{
   padding: 10px;
   border-radius: 15px;
   margin-bottom: 10px;
   background-color: rgb(114, 188, 234);
}


/* seção digita e envia */

.contentChat-section{
height: 8.5vh;
width: 98%;

}
.contentChat-section-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5vh;

}
.contentChat-article-input-div{
    height: 8.5vh;
    width: 100%;
}

.contentChat-article-input-div-input{
    width: 94%;
    height: 3.6vh;
    padding: 0px;
    border-radius: 20px;
    border: 2px solid rgb(106, 106, 242);
    padding: 15px;
    font-size: 20px;
}
input:focus, textarea:focus{
     background-color: rgb(234, 234, 234);
}
