.main-telainicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* altura e largura serão sempre tamanho da tela */

    animation-duration: 1s;
    animation-name: animationTelaInicial;
}

@keyframes animationTelaInicial {
    from {
      margin-left: 90%;
      width: 100%
    }  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.main-telainicial-h1{
    margin:0 0 30px 0;
    font-family: "Open Sans", sans-serif;
    color: rgb(104, 104, 104);
    font-size: 40px;
}

.main-telainicial-div{
    text-align: center;
    border: 4px solid rgb(112, 181, 254);
    padding: 50px;
    border-radius: 40px;

    position: relative;

}
.main-telainicial-div:after{
     content: "";
     width: 0;
     height: 0; 
     position: absolute; 
     border-left: 30px solid transparent;
     border-right: 30px solid transparent;
     border-top: 40px solid rgb(112, 181, 254);
 
     top: 40px; /*localização. Experimente alterar para 'bottom'*/
     left: -15%;
     transform:rotate(90deg);
}



.main-telainicial-div-email{
    margin-bottom: 30px;
}
.main-telainicial-div-nome{
    margin-bottom: 30px;
}

